#title {
  background-color: #e0554e;
  color : #fff;
}
h1 {
    font-family: 'Montserrat',sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    line-height:1.5 ;
    
  }
  h2 {
    font-family: "Montserrat",sans-serif;
    font-weight : bold;
    line-height: 1.5;
      }
  h3 {
    font-family: "Montserrat",sans-serif;
    font-weight : bold;
  }
  p{
    color : gray;
  }
.title{
    margin-top : 5%;
    text-align: center;
}
.imagep {
  border-radius: 100%;
  margin : 2%;
  width: 50%;
  }
.container-fluid {
     padding  : 3% 20% 5%;
}
.navbar {
    padding : 0 0 4.5rem;
  }

  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
  }

  .nav-item{
    padding : 0 1.5rem;
  }
  .nav-link {
    font-size: 1.2rem;
    font-family : 'Montserrat';
  }
  #features {
    padding : 7% 15%;
    background-color: #fff;
    position: relative;

  }
   .feature-box {
    text-align : center;
    padding : 5%;
  
   }
   .icon{
    color : #ef8172;
    margin-bottom: 1rem;
   }
   .icon:hover{
    color : #ff4c68;
   }
  #testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color : #fff;

   }
   .testimonial-image {
    width : 25%;
    border-radius: 100%;
    padding : 20px;
   }
   .carousel-item {
    padding : 7% 15% 0;
   }

   #footer{
    background-color : #fff;
    padding : 50px 0px 20px;
  }
  .copy-right{
    color : #ff4c68;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  footer {
    text-align: center;
    margin : 3% 0 3%;
   }
   .icn{
    padding : 20px 10px;

   }